{% extends '_partials/base.html' %}
{% block title %}
    multimedia review 2025
{% endblock title %}

{% block content %}
<h1>multimedia review 2025</h1>
<p>In this post I want to review all the media I've consumed in 2025:
<ul>
	<li>movies</li>
	<li>shows</li>
	<li>music</li>
	<li>games</li>
	<li>books</li>
</ul>
My motives for this post are three-fold: 
</p>
<p>
	
	As a first, I want to preserve some of my taste and experience. 
	I have accounts for last.fm and Letterboxd, where my music and movie history gets logged.
	Maybe I can consistently create a post every year, and look back at them, and see how I changed.
</p>
<p>
	My second motive is that I want to inspire you to watch a movie or listen to an album that you didn't even know before you read this. 
	Some items here are my personal gems, but I can't express their worth in a post like this, although I would love to, but I can't (at least yet).
</p>


<h2>movies</h2>
<p>
	2025 feels like it has been the year with the fewest movies watched. It's hard to cram them into an evening when I'm blasted from work. Also, my and my SOs taste differ a lot. 
	Anyway, here are movies that retrospectively stood out to me. 

	I remember watching 
	
	<ul>
	<li>Series 7: The Contenders (2001) </li>
	<li>Grey Gardens (1975) </li>
	<li>Manhattan (1979) </li>
	<li>Lady Snowblood (1973) </li>
	<li>Close-Up (1990) </li>
	<li>Where Is The Friends House? (1987) </li>
	<li>Through The Olive Trees  (1994) </li>
	<li>The Gleaners and I  (2000) </li>
	<li>Bad Boy Bubby (1993) </li>
	<li>The French Connection (1971) </li>
	<li>La Notte (1961) </li>
	<li>Come and See (1985) </li>
	<li>As Good As It Gets (1997) </li>

	</ul>

	<b>As Good As It Gets</b> wasn't exactly good but I think it warrants a good base for the discussion of neuroticism. 

</p>

<h2>shows</h2>
<p>
	Finding a show that we watch together feels like an even stronger commitment, but we finished <b>The Sopranos</b> this year after almost two years. 
	I love watching <b>Seinfeld</b>, but my SO doesn't, therefore I didn't watch it as often.
	<ul>
		<li>The Sopranos</li>
		<li>Seinfeld</li>
	</ul>
</p>

<h2>music</h2>

<p>

	At one point several years ago, I've decided to preserve my listening habits. I created an account on last.fm and scrobbled (which is their term for recording each listen) happily on since then.
	At the top of my head, I recall listening to a lot of technical / dissonant death-metal:

	<ul>

		<li>Artificial Brain - Labyrinth Constellation</li>
		<li>Atheist - Unquestionable Presence</li>
		<li>Gigan - Undulating Waves Of Rainbiotic Iridescence</li>
		<li>Anata - Under A Stone With No Inscription</li>
		<li>Pyrrhon - Exhaust</li>
		<li>Imperial Triumphant - Vile Luxury</li>
	</ul>

	Around x, I dived into the origins of Industrial Metal

	<ul>
		<li>Nine Inch Nails - The Downward Spiral</li>
		<li>Ministry - The Mind Is a Terrible Thing To Taste</li>
		<li>Godflesh - Streetcleaner</li>
		<li>Strapping Young Lad - City</li>
	</ul>

	Defying the metal category, I've also had a blast listening to
	<ul>
		<li>New Order - </li>
	</ul> 
</p>

<h2>games</h2>

<h2>books</h2>
<p>I bought a dozen works of Charles Bukowksi and read half them. I'll add the titles later, but I still enjoy most of his works. 
	Apart from that, I bought more books, but haven't started reading them yet. I hope to read more of <b>Das Reich der Dinge</b>
</p>

{% endblock content %}
{% block footnotes %}
{% endblock footnotes %}
