{% extends '_partials/base.html' %}
{% block title %}
    how and why to avoid ImmoScout24
{% endblock title %}
{% block content %}
    <h1>flat hunting in Germany without ImmoScout</h1>
    <p>
        If you're looking for a flat in Germany, you've probably used ImmoScout24.
        I've decided to boycott this service, because I believe it makes searching for a flat less accessible and skims money off every participant.
        Let me tell you why, and what I'd suggest as an alternative.
    </p>
    <h2>sort order for flat listings</h2>
    <p>
        After creating a search on ImmoScout, results will be listed in order of <i>Standardsortierung</i>, the default order.
    </p>
    <img src="/assets/immoscout1.png" height="400px">
    <p>
        Well, what is the default order? There is a hint regarding this, leading you to the terms of agreement, the <i>AGB</i>.
    </p>
    <q style="font-style: italic;">
        Bei der Standardsortierung werden die Exposés abhängig davon, welchen Listingtyp die Anbieter der eingeblendeten Exposés gebucht haben, in einem bestimmten Bereich der Ergebnisliste angezeigt.
    </q>
    <p>
        This effectively means that if you pay for your placement, it will be shown at the top, pushing regular listings down. While I'm sympathetic with a company having to make money somehow, I think that is at least a bit obfuscated, and I doubt that the majority of searchers apply a more sensible sort order.
    </p>
    <h2>Suchen+ plan pricing</h2>
    <p>
        When looking for flats, you'll encounter plus-listings.
        Plus-listings can be inspected, but you can't contact them for the first 72 hours except if you're on the Suchen+ plan.
        This locks you out of being one of the first applicants - but being quick is most important.
    </p>
    <p>
        Would you read 100+ applications after inviting the first 10 applicants? I wouldn't.
        In cities with terrible housing markets like Munich or Berlin, you'll be competing with swaths of Suchen+ applicants.
    </p>
    <p>
        The price point for Suchen+ is a whopping 30€ per month, and can't be booked for less than 3 months at a time.
        At this point, most people I know have accepted these 90€ as a sunken cost for flat hunting, which I think is terrible.
    </p>
    <h2>creating a listing</h2>
    <p>
        Recently, I created a listing for our current apartment because we wanted to leave our renting contract prematurely.
        Our landlord would allow this if we help finding the next renter.
        I've never opened a listing before, but the tactics employed here made me write this post.
    </p>
    <p>You fill in your information like you would expect. After continueing, you'll have to choose a plan.</p>
    <img src="/assets/immoscout3.png" width="600px">
    <p>
        The only free option limits your listing to 10 basic contact inquiries, meaning non-paying users; you can recieve unlimited inquiries from paying users tho.
        The listing will be created but only Suchen+ members will be able to contact you for the first 72 hours, as I've written before.
        The other plan options come in at 50-100€ per week.
    </p>
    <p>Additionally, you can only create a single free listing every six months:</p>
    <img src="/assets/immoscout2.png" width="600px">
    <h2>conclusion</h2>
    <p>
        Maybe there was a time when Immoscout had a better experience, but in its current state I feel like I'm giving them money to make it harder for everyone to find an apartment.
        Moving is stressful enough as it is, but paying 90€ for being able to play a game that already sucks is just wrong to me.
    </p>
    <h2>alternatives</h2>
    <p>
        Use your local newspaper / gazettes.
        The entire process might not be as linear as using an online platform, but people tend to be older, and not as racketeering like some landlords praising their worn-down apartments on Immoscout.
        You can also insert your search there: The pricing might be in the range of what you'd pay Immoscout, but as I just wrote, it's a separate kind of market, and people tick differently there, and .
    </p>
    <p>
        Contact property management companies (<i>Hausverwaltungen</i> ). They might have waiting lists or aren't inserting apartment ads in convential channels.
        Anecdotally, when I wanted to move to Hamburg, I contacted a Hausverwaltung and got my first apartment, without any further flat hunting.
    </p>
    <p>
        Look for mailing lists. In Munich, there is <a href="https://kraeftner.de/budenschleuder-bla-bla">Budenschleuder</a>, where people can search and insert flats.
        Personally, I haven't tried this, but I've heard of friends who were successful with this.
    </p>
    <p>
        Create an ad for friends, family or colleagues to share.
        If you have people cheering for you and actively wanting to help you search, you might want to set some priorities or no-gos, so not every single newly inserted flat gets forwarded to you.
    </p>
    <p>
        As last resort, there are other platforms:
        While I haven't tried them, I'm pretty sure that both Facebook and ebay kleinanzeigen again have different demographics who would rather insert there instead of Immoscout.
    </p>
{% endblock content %}
{% block footnotes %}
{% endblock footnotes %}
