{% extends '_partials/base.html' %}
{% block title %}
    now
{% endblock title %}
{% block content %}
    <h1>now (2025-12-22)</h1>
    <p>
        This is my now page, where I write about what I'm currently occupied with. This will only get updated every couple of months tho!
    </p>
    <h2>the move</h2>
    <p>
        Me and my girlfriend are preparing for our move out of Munich at the end of January. The move itself will be stressful, but all the preparation and planning and coordination is what stresses me most.
    </p>
    <p>
        Getting a new apartment, avoiding to pay double the rent, buying a car, looking for a new job, trying to reach our current landlord, discussing moving in dates with our new one...
    </p>
    <p>
        Most of the time I'm quite good at abstracting away the small the small decisions that don't matter as much, but that you need to make to move forward. Still, they're tiring, and I often forget that it's not just the physical move.
    </p>
    <h2>bjj</h2>
    <p>
        In mid August I signed up for a BJJ class. I've had great fun learning different techniques and drilling basic movements. The majority of the people are welcoming and certainly not the hot-heads who I've imagined them to be.
    </p>
    <p>
        What struck me most is that I can drill the same excercise twice a week for months until I get okay-ish at it. It takes a long time for me to personally adapt. The same applies for the cardio: My first training session almost made me throw up, but after a couple of weeks I was doing one hour of basics class and an all levels class directly after.
    </p>
    <p>
        As for injuries: I feel like I get a lot of bruising, and I'm looking forward to the point in time where it gets less. Being sore almost all the time is not something I thought about.
    </p>
    <p>
        Due to <i>the move</i>, I've found less time to go to classes, but I'm looking forward to do this in our new home-town.
    </p>
    <h2>projects</h2>
    <p>
        In October I've started my overlooting.wiki project, but this has been on-hold since November. There is no new content to create, and I wasn't sure if the community appreciates it.
    </p>
    <p>
        I had a lot of bot traffic, but now having enabled Cloudflare site protection, I had 3k unique visitors / 30 days and 66k requests. Some / most of this will still be bot traffic, as I don't see wiki mentioned frequently in the games Discord.
    </p>
{% endblock content %}
