{% extends '_partials/base.html' %}
{% block title %}
  Til Schünemann
{% endblock title %}
{% block content %}
  <p>
    <h2>projects</h2>
    <ul>
      <li>
        <a href="/projects/sacrificing-accessibility-for-not-getting-web-scraped.html">sacrificing accessibility for not getting web scraped</a>
      </li>
      <li>
        <a href="/projects/building-my-own-media-server.html">building my own media server</a>
      </li>
    </ul>
  </p>
  <p>
    <h2>writing</h2>
    <ul>
      <li>
        <a href="/writing/flat-hunting-in-germany-without-immoscout.html">flat hunting in germany without immoscout</a>
      </li>
    </ul>
  </p>
{% endblock content %}
